name: Standard

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  main:
    name: Standard
    timeout-minutes: 5
    runs-on: ubuntu-latest

    steps:
      - # https://github.com/actions/checkout
        name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

        # install just binary
        # https://github.com/extractions/setup-crate
      - name: Install just
        uses: extractions/setup-crate@4993624604c307fbca528d28a3c8b60fa5ecc859 # v1.4.0
        with:
          owner: casey
          name: just
          version: "1.42.4"

      - # https://github.com/pnpm/action-setup
        name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false

      - # https://github.com/actions/setup-node
        name: Install Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: "package.json"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Biome
        run: just lint

      - name: Knip
        run: just knip

      - name: Typescript
        run: just check

      - name: Test
        run: just test

      - name: Build
        run: just build
